<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Vibe IN | Jokes</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />
    <link rel="stylesheet" href="./jokes.css" />
</head>

<body style="background-color: #fefb1e">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <nav class="navbar navbar-dark bg-dark mg-30">
        <form class="container-fluid justify-content-start mg-10">
            <a href="../meditation/index.html"><button class="btn btn-outline-success me-2 mg-5" type="button">
            MEDITATION
          </button></a
        >

        <a href="../gaming/gaming.html">
          <button class="btn btn-outline-success me-2" type="button">
            GAMES
          </button></a
        >
        <a href="../Quotes/quotes.html">
          <button class="btn btn-outline-success me-2" type="button">
            MOTIVATION
          </button>
        </a>
            <a href="./jokes.html">
                <button class="btn btn-outline-success me-2" type="button">
            JOKES
          </button>
            </a>
            <a href="../music/music.html">
                <button class="btn btn-outline-success me-2" type="button">
            MUSIC
          </button></a>
        </form>
    </nav>
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.1.0/redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/7.2.4/react-redux.min.js"></script>
    <script src="./jokes.js"></script>
</body>

</html>